<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    {% endblock %}
    {% block stylesheets %}
        {% do assets.addCss('plugin://snappygrav/assets/css/paper.css', 100) %}
    {% endblock %}
    {{ assets.css() }}
</head>
<body>
    {% block body %}
        {% block content %}
        {% endblock %}
    {% endblock %}
 </body>
</html>
